################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LAB7/.vs/LAB7/v16/Server/sqlite3
